In [49]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz

In [28]:
roads = pd.read_csv('Railroads.csv')
dests = pd.read_csv('destinations.csv')

In [29]:
roads.head()

         from         to  length color
0  Vancouver    Calgary        3  gray
1  Vancouver    Seattle        1  gray
2  Vancouver    Seattle        1  gray
3    Seattle   Portland        1  gray
4    Seattle   Portland        1  gray

In [30]:
dests.head()

       from               to  points
0   Boston            Miami       12
1  Calgary          Phoenix       13
2  Calgary   Salt Lake City        7
3  Chicago      New Orleans        7
4  Chicago         Santa Fe        9

In [53]:
# merege df columns from and to
def merge_unique_from_to(df):
    return np.concatenate((df['from'].values,df['to'].values))

# find distinct  in each of them, make sure there are no typos
def show_most_simelar_strings(container):
    droped_duplicates = tuple(set(container))
    results=[]
    for index,string_a in enumerate(droped_duplicates):
        for string_b in droped_duplicates[index+1:]:
            compere = (string_a,string_b,fuzz.ratio(string_a,string_b))
            results.append(compere)
    return sorted(results,key= lambda x: x[2],reverse=True)

In [55]:
for dataset in(roads,dests):
    all_city_names = merge_unique_from_to(dataset)
    most_simelar = show_most_simelar_strings(all_city_names)
    print(most_simelar[:10])

[('Kansas City ', 'Kansas city', 87), ('Boston', 'Houston', 77), ('Vancouver ', 'Denver ', 59), ('salt lake city', 'Kansas city', 56), ('Kansas City ', 'Oklahima City', 56), ('Atlanta', 'Santa Fe', 53), ('Saint Louis', 'Santa Fe', 53), ('New Orleans ', 'Helena ', 53), ('Little Rock', 'Seattle ', 53), ('Helena ', 'Seattle ', 53)]
[('Houston ', 'Boston ', 80), ('Kansas City ', 'Oklahoma City ', 62), ('Salt Lake City ', 'Kansas City ', 59), ('Atlanta ', 'Portland ', 59), ('Atlanta ', 'Santa Fe ', 59), ('Santa Fe ', 'Seattle ', 59), ('Vancouver ', 'Denver ', 59), ('New Orleans ', 'New York ', 57), ('Salt Lake City ', 'Oklahoma City ', 55), ('Atlanta ', 'Helena ', 53)]

In [63]:
def capitlize_all_words_after_space(df):
    cols = set(df.columns)
    for column in ('from','to'):
        if column in cols:
            df[column] = df[column].str.title().str.strip()
    return df

In [64]:
def text_pipeline(df):
    df = df.copy()
    capitlize_all_words_after_space(df)
    return df

In [66]:
roads1 = text_pipeline(roads)
dests1 = text_pipeline(dests)
for dataset in(roads1,dests1):
    all_city_names = merge_unique_from_to(dataset)
    most_simelar = show_most_simelar_strings(all_city_names)
    print(most_simelar[:10])

[('Boston', 'Houston', 77), ('Oklahima City', 'Kansas City', 58), ('Kansas City', 'Salt Lake City', 56), ('Portland', 'Atlanta', 53), ('New York', 'New Orleans', 53), ('Atlanta', 'Santa Fe', 53), ('Saint Louis', 'Santa Fe', 53), ('Denver', 'Vancouver', 53), ('Seattle', 'Santa Fe', 53), ('Oklahima City', 'Salt Lake City', 52)]
[('Boston', 'Houston', 77), ('Kansas City', 'Oklahoma City', 58), ('Kansas City', 'Salt Lake City', 56), ('Portland', 'Atlanta', 53), ('New York', 'New Orleans', 53), ('Atlanta', 'Santa Fe', 53), ('Denver', 'Vancouver', 53), ('Seattle', 'Santa Fe', 53), ('Oklahoma City', 'Salt Lake City', 52), ('San Francisco', 'Santa Fe', 48)]

In [67]:
def merge_2df(df1,df2):
    return np.concatenate((df1['from'].values,df1['to'].values,df2['from'].values,df2['to'].values))

In [69]:
all_city_names = merge_2df(roads1,dests1)
most_simelar = show_most_simelar_strings(all_city_names)
print(most_simelar[:10])

[('Oklahima City', 'Oklahoma City', 92), ('Boston', 'Houston', 77), ('Oklahima City', 'Kansas City', 58), ('Kansas City', 'Oklahoma City', 58), ('Kansas City', 'Salt Lake City', 56), ('Portland', 'Atlanta', 53), ('New York', 'New Orleans', 53), ('Atlanta', 'Santa Fe', 53), ('Saint Louis', 'Santa Fe', 53), ('Denver', 'Vancouver', 53)]

In [77]:
def fix_spelling_errors(df):
    cols = set(df.columns)
    for column in ('from','to'):
        df[column] = df[column].str.replace('Oklahima','Oklahoma',regex=False)
    return df

def text_pipeline(df):
    df = df.copy()
    df = capitlize_all_words_after_space(df)
    df = fix_spelling_errors(df)
    return df

In [78]:
roads2 = text_pipeline(roads)
dests2 = text_pipeline(dests)
all_city_names = merge_2df(roads2,dests2)
most_simelar = show_most_simelar_strings(all_city_names)
print(most_simelar[:10])

[('Boston', 'Houston', 77), ('Kansas City', 'Oklahoma City', 58), ('Kansas City', 'Salt Lake City', 56), ('Portland', 'Atlanta', 53), ('New York', 'New Orleans', 53), ('Atlanta', 'Santa Fe', 53), ('Saint Louis', 'Santa Fe', 53), ('Denver', 'Vancouver', 53), ('Seattle', 'Santa Fe', 53), ('Oklahoma City', 'Salt Lake City', 52)]

In [76]:
text_pipeline(roads)

In [79]:
roads2.head()

        from        to  length color
0  Vancouver   Calgary       3  gray
1  Vancouver   Seattle       1  gray
2  Vancouver   Seattle       1  gray
3    Seattle  Portland       1  gray
4    Seattle  Portland       1  gray

In [80]:
dests2.head()

      from              to  points
0   Boston           Miami      12
1  Calgary         Phoenix      13
2  Calgary  Salt Lake City       7
3  Chicago     New Orleans       7
4  Chicago        Santa Fe       9

In [81]:
roads2.to_csv('Railroads.csv')
dests2.to_csv('destinations.csv')